{
	"root": true,
	"env": {
		"node": true
	},
	"extends": ["plugin:vue/essential", "eslint:recommended"],
	"plugins": ["vue"],
	"rules": {
		"no-console": "off"
	},
	"parser": "vue-eslint-parser",
	"parserOptions": {
		// "parser": "@babel/eslint-parser",
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"overrides": []
}
