doctype html
html
  head
    title API Status
    //- link(rel='stylesheet', href='/css/main.css')
  body
    h2 API状态:&nbsp;
      span #{alive?'运行中':'关闭'}
    h3 #{mode} 
    //- script(src="js/main.js")
