doctype html
html
  head
    title= title
    //- link(rel='stylesheet', href='/css/main.css')
  body
    h1(style='color:red') #{title}
    h3 #{error}
    h4
      a(href="/") Back to home
    //- pre #{error.stack}
    //- script(src="js/main.js")
